nav.navbar {
  margin-bottom: 0;
  background-color: #3584cd;
  border: none;
  border-radius: 0;
}

.mynav {
  width: 100%;
  padding: 0 !important;
  background-color: #3584cd;
}

.navbar a {
  color: white;
}

.baze-logo {
  font-family: 'Codystar', cursive;
  color: white;
  font-size: 3em;
  text-align: center;

}
