/*.create-btn {
	float: right;
	position: absolute;
	top: 0px;
	right: 10px;
	background: inherit;
	border: none;
	font-size: 35px;
}

.fa-pencil:hover {
	color: #90b6e6;
}

@media only screen and (max-width: 768px)
{
	.create-btn {
		right: 80px;
	}
}*/

.create-btn {
	font-family: 'Syncopate', sans-serif;
	background: inherit;
	border: none;
	font-size: 20px;
	color: black;
}

.fa-pencil {
	color: #65bdb4;
}
