
.list-group-item {
}

.backgroundUserImg {
  height: 100px;
}

.feed-img {
  border-radius: 50px;
  max-height: 100px;
  max-width: 100px;
}

.post-img {
  max-height: 200px;
  max-width: 300px;
}

.img-container {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.username {
  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.station, .train, .station, .postType, .date {
  font-size: 11px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.comment, .post-img {
  margin-top: 30px;
}

.comment {
	font-family: 'Marvel', sans-serif;
	font-size: 19px;

}
