
.list-group-item {
}

.backgroundUserImg {
  height: 100px;
}

.feed-img {
  object-fit: cover;
  border-radius:50%;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(221, 221, 221, 0.25);
}

.post-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

/*.post-wrapper {
  width: 100%;
}*/

.img-container {
  float: left;
  margin-right: 10px;
}

.username {
  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.station, .train, .station, .postType, .date {
  font-size: 11px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.comment, .post-img {
  /*margin: 0 auto;*/

}

.comment {
	font-family: 'Marvel', sans-serif;
	font-size: 19px;

}
