.logout-btn {
	position: absolute;
	top: 9px;
	right: 45px;
	background: inherit;
	border: none;
	font-size: 25px;
	color: white;
}

@media only screen and (max-width: 360px)
{
	.logout-btn

	{
		right: 110px;
	}
}

@media only screen and (max-width: 412px)
{
	.logout-btn

	{
		right: 110px;
	}
}

@media only screen and (max-width: 414px)
{
	.logout-btn

	{
		right: 110px;
	}
}




