.signup-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 0 10px;
}

.btn {
    margin-top: 15px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.previewImg {
	object-fit: cover;
	border-radius:50%;
	width: 400px;
	height: 400px;
}

/*test*/