nav.navbar {
  margin-bottom: 0;
  background-color: #3584cd;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: black ;
  font-family: 'Anton', sans-serif;
}

.navbar-default .navbar-nav>.active>a  {
  color: white;
  background: #90b6e6;
}
.navbar-default .navbar-nav>li>a:hover {
  color: white;
  background: #90b6e6;
}
.navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background: #90b6e6;
}
.navbar-default .navbar-brand {
    color: black;
    font-family: 'Anton', sans-serif;
}

.navbar-toggle {
	margin-right: 56px !important;
}
