body {
	 /*padding-top: 190px;*/
 }

h1.welcome {
	font-family: 'Syncopate', sans-serif;

}

.topnav {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.navbar-inverse {
	background: #3584cd;

}

.header-img {
  margin-left: 10px;
	object-fit: cover;
	border-radius:50%;
	width: 150px;
	height: 150px;
  border: 1px solid rgba(221, 221, 221, 0.25);

}

@media only screen and (max-width: 500px) {
    h1.welcome {
        text-align: center;
    }
}

@media (max-width: 360px) {
	h1 {
		font-size: 1.4em !important;
		margin-top: 32px !important;
	}
	.create-btn {
		font-size: 15px !important;
	}
}

@media (max-width: 320px) {
	h1 {
		font-size: 1.2em !important;
		margin-top: 32px !important;
	}
	.create-btn {
		font-size: 10px !important;
	}
}
