body {
	 /*padding-top: 190px;*/
 }

h1.welcome {
	font-family: 'Syncopate', sans-serif;
}

.topnav {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.navbar-inverse {
	background: #3584cd;

}

.header-img {
	object-fit: cover;
	border-radius:50%;
	width: 150px;
	height: 150px;
}