.userHeaderContainer {
  border: 1px solid #dddddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #f6f8fd;
}

.header-img {
  max-height: 150px;
  width: auto;
  float: left;
  margin: 5px;
}

.userHeaderContainer h1 {
  font-family: 'Galada', cursive;

}
