.like-btn {
	font-size: 20px;
	color: #65bdb4;
}
.like-btn:hover {
	cursor: pointer;
	color: darkgray;
}
.like-count {
	margin-right: 5px;
	margin-top: 5px;
	float: left;
	color: black;
	font-size: 10px;
}

.likes {
	margin-top: 10px;
}
